<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="container">
        <nav>
            <img src="/img/close.svg" alt="close" id="has-menu">
            <h2 class="h2-like">Company</h2>
            <div class="line"></div>
            <ul class="main-navigation">
                <li class="list-navigation is-list-navigation"><a href="/">Dashboard</a></li>
                <li class="list-navigation"><a href="/profile">User profile</a></li>
                <li class="list-navigation"><a href="#">Maps</a></li>
                <li class="list-navigation"><a href="#">Notifications</a></li>
                <li class="list-navigation"><a href="#">Support</a></li>
            </ul>
        </nav>
        <div class="box-content">
            <img src="/img/menu.svg" alt="menu" id="is-menu">
            <h2 class="h2-like">Dashboard</h2>
            <div class="box-mini-card">
                <div class="card mini-card">
                    <div class="box-mini-first">
                        <div class="box-mini-img">
                            <img src="/img/microsoft-access.svg" alt="img">
                        </div>
                        <div class="box-mini-content">
                            <p class="p-important">Used space</p>
                            <h3 class="h3-like">49/50 GB</h3>
                        </div>
                    </div>
                    <div class="box-mini-last">
                        <div class="line"></div>
                        <p class="p-unimportant">Get more space ...</p>
                    </div>
                </div>
                <div class="card mini-card">
                    <div class="box-mini-first">
                        <div class="box-mini-img">
                            <img src="/img/shop.svg" alt="img">
                        </div>
                        <div class="box-mini-content">
                            <p class="p-important">Used space</p>
                            <h3 class="h3-like">49/50 GB</h3>
                        </div>
                    </div>
                    <div class="box-mini-last">
                        <div class="line"></div>
                        <p class="p-unimportant">Get more space ...</p>
                    </div>
                </div>
                <div class="card mini-card">
                    <div class="box-mini-first">
                        <div class="box-mini-img">
                            <img src="/img/price-tag.svg" alt="img">
                        </div>
                        <div class="box-mini-content">
                            <p class="p-important">Used space</p>
                            <h3 class="h3-like">49/50 GB</h3>
                        </div>
                    </div>
                    <div class="box-mini-last">
                        <div class="line"></div>
                        <p class="p-unimportant">Get more space ...</p>
                    </div>
                </div>
                <div class="card mini-card">
                    <div class="box-mini-first">
                        <div class="box-mini-img">
                            <img src="/img/telegram.svg" alt="img">
                        </div>
                        <div class="box-mini-content">
                            <p class="p-important">Used space</p>
                            <h3 class="h3-like">49/50 GB</h3>
                        </div>
                    </div>
                    <div class="box-mini-last">
                        <div class="line"></div>
                        <p class="p-unimportant">Get more space ...</p>
                    </div>
                </div>
            </div>
            <div class="box-medium-card">
                <div class="card medium-card">
                    <div class="box-medium-img">
                        <div class="img-col">
                            <div class="st-sm"></div>
                            <div class="st-md"></div>
                            <div class="st-lg"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-sm"></div>
                            <div class="st-sm"></div>
                            <div class="st-md"></div>
                            <div class="st-md"></div>
                            <div class="st-sm"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-esm"></div>
                            <div class="st-md"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-esm"></div>
                            <div class="st-sm"></div>
                            <div class="st-lg"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-exs"></div>
                            <div class="st-sm"></div>
                            <div class="st-sm"></div>
                            <div class="st-md"></div>
                            <div class="st-md"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-sm"></div>
                            <div class="st-md"></div>
                            <div class="st-lg"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-sm"></div>
                            <div class="st-sm"></div>
                            <div class="st-md"></div>
                            <div class="st-md"></div>
                            <div class="st-sm"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-esm"></div>
                            <div class="st-md"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-esm"></div>
                            <div class="st-sm"></div>
                            <div class="st-lg"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-exs"></div>
                            <div class="st-sm"></div>
                            <div class="st-sm"></div>
                            <div class="st-md"></div>
                            <div class="st-md"></div>
                        </div>
                    </div>
                    <div class="box-medium-content">
                        <h3 class="h3-like">Daily Sailes</h3>
                        <p class="p-important">55% increase in today sales</p>
                        <div class="line"></div>
                        <p class="p-unimportant">updated 4 minutes ago</p>
                    </div>
                </div>
                <div class="card medium-card">
                    <div class="box-medium-img">
                        <div class="img-col">
                            <div class="st-sm"></div>
                            <div class="st-md"></div>
                            <div class="st-lg"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-sm"></div>
                            <div class="st-sm"></div>
                            <div class="st-md"></div>
                            <div class="st-md"></div>
                            <div class="st-sm"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-esm"></div>
                            <div class="st-md"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-esm"></div>
                            <div class="st-sm"></div>
                            <div class="st-lg"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-exs"></div>
                            <div class="st-sm"></div>
                            <div class="st-sm"></div>
                            <div class="st-md"></div>
                            <div class="st-md"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-sm"></div>
                            <div class="st-md"></div>
                            <div class="st-lg"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-sm"></div>
                            <div class="st-sm"></div>
                            <div class="st-md"></div>
                            <div class="st-md"></div>
                            <div class="st-sm"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-esm"></div>
                            <div class="st-md"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-esm"></div>
                            <div class="st-sm"></div>
                            <div class="st-lg"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-exs"></div>
                            <div class="st-sm"></div>
                            <div class="st-sm"></div>
                            <div class="st-md"></div>
                            <div class="st-md"></div>
                        </div>
                    </div>
                    <div class="box-medium-content">
                        <h3 class="h3-like">Daily Sailes</h3>
                        <p class="p-important">55% increase in today sales</p>
                        <div class="line"></div>
                        <p class="p-unimportant">updated 4 minutes ago</p>
                    </div>
                </div>
                <div class="card medium-card">
                    <div class="box-medium-img">
                        <div class="img-col">
                            <div class="st-sm"></div>
                            <div class="st-md"></div>
                            <div class="st-lg"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-sm"></div>
                            <div class="st-sm"></div>
                            <div class="st-md"></div>
                            <div class="st-md"></div>
                            <div class="st-sm"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-esm"></div>
                            <div class="st-md"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-esm"></div>
                            <div class="st-sm"></div>
                            <div class="st-lg"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-exs"></div>
                            <div class="st-sm"></div>
                            <div class="st-sm"></div>
                            <div class="st-md"></div>
                            <div class="st-md"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-sm"></div>
                            <div class="st-md"></div>
                            <div class="st-lg"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-sm"></div>
                            <div class="st-sm"></div>
                            <div class="st-md"></div>
                            <div class="st-md"></div>
                            <div class="st-sm"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-esm"></div>
                            <div class="st-md"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-esm"></div>
                            <div class="st-sm"></div>
                            <div class="st-lg"></div>
                        </div>
                        <div class="img-col">
                            <div class="st-exs"></div>
                            <div class="st-sm"></div>
                            <div class="st-sm"></div>
                            <div class="st-md"></div>
                            <div class="st-md"></div>
                        </div>
                    </div>
                    <div class="box-medium-content">
                        <h3 class="h3-like">Daily Sailes</h3>
                        <p class="p-important">55% increase in today sales</p>
                        <div class="line"></div>
                        <p class="p-unimportant">updated 4 minutes ago</p>
                    </div>
                </div>
            </div>
            <div class="box-large-card">
                <div class="card large-card">
                    <div class="box-large-img">
                        <p class="p-important">Tasks:</p>
                        <ul>
                            <li class="list-navigation is-list-navigation"><a href="#">Bugs</a></li>
                            <li class="list-navigation"><a href="#">Website</a></li>
                            <li class="list-navigation"><a href="#">Server</a></li>
                        </ul>
                    </div>
                    <div class="box-large-content">
                        <div class="one-checkbox">
                            <div class="box-input">
                                <input type="checkbox" name="first" id="first">
                                <label for="first">Sign contract for "What are conference organizers afraid of"?</label>
                            </div>
                            <div class="box-input-img">
                                <img src="/img/add.svg" alt="foto">
                                <img src="/img/cancel.svg" alt="foto">
                            </div>
                        </div>
                        <div class="one-checkbox">
                            <div class="box-input">
                                <input type="checkbox" name="second" id="second">
                                <label for="second">Sign contract for "What are conference organizers afraid of"?</label>
                            </div>
                            <div class="box-input-img">
                                <img src="/img/add.svg" alt="foto">
                                <img src="/img/cancel.svg" alt="foto">
                            </div>
                        </div>
                        <div class="one-checkbox">
                            <div class="box-input">
                                <input type="checkbox" name="third" id="third">
                                <label for="third">Sign contract for "What are conference organizers afraid of"?</label>
                            </div>
                            <div class="box-input-img">
                                <img src="/img/add.svg" alt="foto">
                                <img src="/img/cancel.svg" alt="foto">
                            </div>
                        </div>
                        <div class="one-checkbox">
                            <div class="box-input">
                                <input type="checkbox" name="last" id="last">
                                <label for="last">Sign contract for "What are conference organizers afraid of"?</label>
                            </div>
                            <div class="box-input-img">
                                <img src="/img/add.svg" alt="foto">
                                <img src="/img/cancel.svg" alt="foto">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card large-card">
                    <div class="box-large-img">
                        <p class="p-important">Employees Stats</p>
                        <p class="p-important">New employees on 19th september, 2019</p>
                    </div>
                    <div class="box-large-content">
                        <table>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Salary</th>
                                <th>Country</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Dakota Rice</td>
                                <td>$36.738</td>
                                <td>Niger</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Dakota Rice</td>
                                <td>$36.738</td>
                                <td>Niger</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Dakota Rice</td>
                                <td>$36.738</td>
                                <td>Niger</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Dakota Rice</td>
                                <td>$36.738</td>
                                <td>Niger</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <footer>
                <ul>
                    <li>About</li>
                    <li>Blog</li>
                    <li>Licenses</li>
                </ul>
                <p class="p-unimportant">2025</p>
            </footer>
        </div>
    </div>

    <script>
        document.querySelector('#is-menu').addEventListener('click', () => {
            document.querySelector('nav').classList.toggle('is-navigation');
        });
        document.querySelector('#has-menu').addEventListener('click', () => {
            document.querySelector('nav').classList.toggle('is-navigation');
        });
    </script>
</body>

</html>