* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
.is-navigation {
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  width: 250px;
  z-index: 9999;
}
.container {
  font-family: 'Open Sans', sans-serif;
  background-color: #D89E24;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr;
}
nav {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 3px 0 1px #BFBFBF;
  background-color: #F6F6F6;
}
nav > img {
  display: none;
}
.h2-like {
  padding: 2vw;
  font-size: 2.2vw;
}
.line {
  height: 2px;
  width: 100%;
  background-color: #EAEAEA;
}
.main-navigation {
  padding: 2vw 1vw;
}
.list-navigation {
  font-size: 1.1vw;
  padding: 1vw;
  padding-left: 4vw;
  position: relative;
}
.list-navigation a {
  color: #8c8c8c;
}
.list-navigation::before {
  content: '';
  display: inline-block;
  width: 1.1vw;
  height: 1.1vw;
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(60%);
  position: absolute;
  top: 1vw;
  left: 2vw;
}
.list-navigation:nth-child(1)::before {
  background-image: url(img/dashboard.svg);
}
.list-navigation:nth-child(2)::before {
  background-image: url(img/user.svg);
}
.list-navigation:nth-child(3)::before {
  background-image: url(img/geo.svg);
}
.list-navigation:nth-child(4)::before {
  background-image: url(img/double-tick-indicator.svg);
}
.list-navigation:nth-child(5)::before {
  background-image: url(img/world.svg);
}
.is-list-navigation {
  background-color: #C21F55;
}
.is-list-navigation a {
  color: #fff;
}
.is-list-navigation::before {
  filter: invert(100%);
}
.box-content {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #EAEAEA;
}
.box-content > img {
  display: none;
}
.box-mini-card {
  display: grid;
  grid-template-columns: 2vw 1fr 1vw 1fr 1vw 1fr 1vw 1fr 2vw;
  grid-template-rows: 3vw 1fr;
}
.card {
  position: relative;
  width: 100%;
  background-color: #F6F6F6;
  box-shadow: 3px 3px 1px #BFBFBF;
  padding: 1vw;
}
.card .line {
  margin: 0.5vw 0;
}
.card .p-unimportant {
  position: relative;
  padding-left: calc(0.9vw + 5px);
}
.card .p-unimportant::before {
  content: '';
  display: inline-block;
  width: 0.9vw;
  height: 0.9vw;
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(60%);
  position: absolute;
  top: 0;
  left: 0;
}
.mini-card .h3-like,
.mini-card .p-important {
  text-align: right;
}
.mini-card:nth-child(1) .p-unimportant::before {
  background-image: url(img/danger.svg);
}
.mini-card:nth-child(2) .p-unimportant::before {
  background-image: url(img/calendar.svg);
}
.mini-card:nth-child(3) .p-unimportant::before {
  background-image: url(img/download.svg);
}
.mini-card:nth-child(4) .p-unimportant::before {
  background-image: url(img/clock.svg);
}
.mini-card:nth-child(1) .box-mini-img {
  background-color: #438A01;
}
.mini-card:nth-child(2) .box-mini-img {
  background-color: #D89E24;
}
.mini-card:nth-child(3) .box-mini-img {
  background-color: #274D97;
}
.mini-card:nth-child(4) .box-mini-img {
  background-color: #C21F55;
}
.mini-card:nth-child(1) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.mini-card:nth-child(2) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.mini-card:nth-child(3) {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}
.mini-card:nth-child(4) {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
}
.box-mini-first {
  display: flex;
  justify-content: space-between;
  height: min-content;
  padding-bottom: 1vw;
}
.box-mini-img {
  width: 5vw;
  height: 5vw;
  padding: 1vw;
  position: relative;
  top: -2vw;
}
.box-mini-img img {
  filter: invert(100%);
  width: 100%;
}
.box-mini-last {
  margin-top: -2vw;
}
.h3-like {
  font-weight: 100;
  font-size: 2.2vw;
}
.p-important {
  font-size: 1.1vw;
}
.p-unimportant {
  font-size: 0.9vw;
  color: #8c8c8c;
}
.box-medium-card {
  display: grid;
  grid-template-columns: 2vw 1fr 1vw 1fr 1vw 1fr 2vw;
  grid-template-rows: 3vw 1fr;
}
.medium-card .p-unimportant::before {
  background-image: url(img/clock.svg);
}
.medium-card:nth-child(1) .box-medium-img {
  background-color: #438A01;
}
.medium-card:nth-child(2) .box-medium-img {
  background-color: #D89E24;
}
.medium-card:nth-child(3) .box-medium-img {
  background-color: #274D97;
}
.medium-card:nth-child(1) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.medium-card:nth-child(2) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.medium-card:nth-child(3) {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}
.box-medium-img {
  height: 14vw;
  background-color: #438A01;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1vw;
  position: relative;
  top: -2vw;
}
.box-medium-img .img-col {
  padding: 1vw 0.25vw;
  width: 100%;
}
.box-medium-img .st-lg,
.box-medium-img .st-md,
.box-medium-img .st-sm,
.box-medium-img .st-esm {
  background-color: #fff;
  margin: 0.25vw 0;
}
.box-medium-img .st-lg {
  height: 4vw;
}
.box-medium-img .st-md {
  height: 2vw;
}
.box-medium-img .st-sm {
  height: 1vw;
}
.box-medium-img .st-esm {
  height: 0.5vw;
}
.box-medium-content {
  margin-top: -1.5vw;
}
.box-large-card {
  display: grid;
  grid-template-columns: 2vw 1fr 1vw 1fr 2vw;
  grid-template-rows: 3vw 1fr;
}
.large-card:nth-child(1) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.large-card:nth-child(2) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.large-card:last-of-type .box-large-img {
  flex-direction: column;
  align-items: flex-start;
  background-color: #274D97;
}
.large-card:last-of-type .box-large-img .p-important:first-of-type {
  font-size: 1.32vw;
  margin-bottom: 1vw;
}
.box-large-img {
  display: flex;
  align-items: center;
  background-color: #D89E24;
  padding: 1vw;
  color: #fff;
  position: relative;
  top: -2vw;
}
.box-large-img .p-important {
  margin-right: 1vw;
}
.box-large-img ul {
  display: flex;
}
.box-large-img .list-navigation {
  margin-right: 1vw;
  padding: 1vw;
  padding-left: 3vw;
}
.box-large-img .list-navigation a {
  color: #fff;
}
.box-large-img .list-navigation::before {
  content: '';
  display: inline-block;
  width: 1.1vw;
  height: 1.1vw;
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(100%);
  position: absolute;
  top: 1vw;
  left: 1vw;
}
.box-large-img .list-navigation:nth-child(1)::before {
  background-image: url(img/bug.svg);
}
.box-large-img .list-navigation:nth-child(2)::before {
  background-image: url(img/world.svg);
}
.box-large-img .list-navigation:nth-child(3)::before {
  background-image: url(img/cloud.svg);
}
.box-large-img .is-list-navigation {
  background-color: #DEAC49;
}
.box-large-content {
  margin-top: -1vw;
}
.box-large-content table {
  width: 100%;
  border-collapse: collapse;
}
.box-large-content th {
  color: #45fcbf;
}
.box-large-content th,
.box-large-content td {
  font-size: 1.1vw;
  text-align: center;
  padding: 1vw;
  border-bottom: 1px solid #BFBFBF;
}
.box-large-content tr:last-of-type td {
  border: none;
}
.one-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw;
  border-bottom: 1px solid #BFBFBF;
}
.one-checkbox input,
.one-checkbox label {
  font-size: 1.1vw;
}
.one-checkbox .box-input-img {
  display: flex;
}
.one-checkbox .box-input-img {
  display: flex;
}
.one-checkbox img {
  margin-right: 1.1vw;
  width: 1.54vw;
  height: 1.54vw;
}
.one-checkbox:last-of-type {
  border: none;
}
footer {
  border-top: 1px solid #BFBFBF;
  margin-top: 2vw;
  margin-left: 2vw;
  padding: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer ul {
  display: flex;
}
footer ul li {
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 1vw;
  font-size: 1.1vw;
}
.box-profile {
  display: grid;
  grid-template-columns: 2vw 2.1fr 1vw 0.9fr 2vw;
  grid-template-rows: 3vw 1fr;
}
.input-card {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.input-card form {
  margin-top: -1vw;
}
.input-card form .str-form {
  display: flex;
  justify-content: space-between;
  padding: 0.5vw 0;
}
.input-card form .str-form:nth-child(2) .col-form {
  width: calc((100% / 2) - 1vw*0.5);
}
.input-card form .str-form:nth-child(3) .col-form,
.input-card form .str-form:nth-child(5) .col-form {
  width: 100%;
}
.input-card form .str-form:last-of-type {
  justify-content: flex-end;
}
.input-card form .col-form {
  width: calc((100% / 3) - 1vw*0.5);
}
.input-card form .col-form label {
  width: 100%;
}
.input-card form .col-form input,
.input-card form .col-form textarea {
  width: 100%;
  border: none;
  border-radius: 0;
  outline: none;
  background-color: #F6F6F6;
  border-bottom: 1px solid #BFBFBF;
}
.input-card form .button-form {
  width: 30%;
}
.input-card form .button-form input {
  background-color: #C21F55;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1vw;
  height: 130%;
}
.box-form-img {
  background-color: #C21F55;
  color: #fff;
  padding: 1vw;
  position: relative;
  top: -2vw;
}
.box-form-img .p-important:first-of-type {
  font-size: 1.32vw;
  margin-bottom: 1vw;
}
.about-card {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
}
.about-card img {
  border-radius: 50%;
  border-bottom: 3px solid #BFBFBF;
  border-right: 3px solid #BFBFBF;
  width: 9vw;
  height: 9vw;
  position: relative;
  top: -4vw;
}
.about-card .p-important,
.about-card .h3-like,
.about-card .p-unimportant {
  text-align: center;
  padding: 0.5vw 0;
}
.about-card .p-important {
  color: #8c8c8c;
  letter-spacing: 1px;
}
.about-card .h3-like {
  font-size: 1.1vw;
  font-weight: 600;
}
.about-card .p-unimportant {
  text-transform: uppercase;
}
.box-about-content {
  margin-top: -3vw;
}
@media screen and (max-width: 1000px) {
  .h2-like {
    padding: 2vw 4vw;
    font-size: 2.8vw;
  }
  .h3-like {
    font-size: 2.8vw;
  }
  .p-important {
    font-size: 1.6vw;
  }
  .p-unimportant {
    font-size: 1.2vw;
  }
  .container {
    grid-template-columns: 3fr 9fr;
  }
  .main-navigation {
    padding: 4vw 2vw;
  }
  .list-navigation {
    font-size: 1.6vw;
    padding: 2vw;
    padding-left: 5vw;
  }
  .list-navigation::before {
    width: 1.6vw;
    height: 1.6vw;
    top: 2vw;
    left: 2vw;
  }
  .card {
    padding: 2vw;
  }
  .card .line {
    margin: 1vw 0;
  }
  .card .p-unimportant {
    padding-left: calc(1.2vw + 5px);
  }
  .card .p-unimportant::before {
    width: 1.2vw;
    height: 1.2vw;
  }
  .box-mini-card {
    grid-template-columns: 4vw 1fr 2vw 1fr 2vw 1fr 2vw 1fr 4vw;
    grid-template-rows: 5vw 1fr 5vw 1fr;
  }
  .mini-card:nth-child(1) {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .mini-card:nth-child(2) {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .mini-card:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .mini-card:nth-child(4) {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .box-mini-first {
    padding-bottom: 2vw;
  }
  .box-mini-img {
    width: 8vw;
    height: 8vw;
    padding: 1vw;
    top: -4vw;
  }
  .box-mini-last {
    margin-top: -4vw;
  }
  .box-medium-card {
    grid-template-columns: 4vw 1fr 2vw 1fr 2vw 1fr 4vw;
    grid-template-rows: 5vw 1fr;
  }
  .box-medium-img {
    height: 10vw;
    padding: 2vw;
    top: -4vw;
  }
  .box-medium-img .img-col {
    padding: 0 0.16666667vw;
  }
  .box-medium-img .st-lg,
  .box-medium-img .st-md,
  .box-medium-img .st-sm,
  .box-medium-img .st-esm {
    margin: 0.25vw 0;
  }
  .box-medium-img .st-lg {
    height: 2vw;
  }
  .box-medium-img .st-md {
    height: 1vw;
  }
  .box-medium-img .st-sm {
    height: 0.7vw;
  }
  .box-medium-img .st-esm {
    height: 0.25vw;
  }
  .box-medium-content {
    margin-top: -3vw;
  }
  .box-large-card {
    grid-template-columns: 4vw 1fr 2vw 1fr 4vw;
    grid-template-rows: 5vw min-content 5vw min-content;
  }
  .large-card:nth-child(1) {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .large-card:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .large-card:last-of-type .box-large-img .p-important:first-of-type {
    font-size: 1.92vw;
    margin-bottom: 2vw;
  }
  .box-large-img {
    padding: 1vw;
    top: -4vw;
  }
  .box-large-img .p-important {
    margin-right: 2vw;
  }
  .box-large-img .list-navigation {
    margin-right: 2vw;
    padding: 1vw;
    padding-left: 4vw;
  }
  .box-large-img .list-navigation::before {
    width: 1.6vw;
    height: 1.6vw;
    top: 1vw;
    left: 1vw;
  }
  .box-large-content {
    margin-top: -2vw;
  }
  .box-large-content th,
  .box-large-content td {
    font-size: 1.6vw;
    padding: 1.5vw;
  }
  .one-checkbox {
    padding: 2vw;
  }
  .one-checkbox input,
  .one-checkbox label {
    font-size: 1.6vw;
  }
  .one-checkbox img {
    width: 2.24vw;
    height: 2.24vw;
  }
  footer {
    margin-top: 4vw;
    margin-left: 4vw;
    padding: 4vw;
  }
  footer ul li {
    padding-right: 2vw;
    font-size: 1.44vw;
  }
  .box-profile {
    grid-template-columns: 4vw 2.1fr 2vw 0.9fr 4vw;
    grid-template-rows: 5vw min-content 5vw min-content;
  }
  .input-card {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .input-card form {
    margin-top: -2vw;
  }
  .input-card form .str-form {
    padding: 1vw 0;
  }
  .input-card form .str-form:nth-child(2) .col-form {
    width: calc((100% / 2) - 2vw*0.5);
  }
  .input-card form .col-form {
    width: calc((100% / 3) - 2vw*0.5);
  }
  .input-card form .button-form input {
    font-size: 1.6vw;
  }
  .box-form-img {
    padding: 2vw;
    top: -4vw;
  }
  .box-form-img .p-important:first-of-type {
    font-size: 1.92vw;
    margin-bottom: 2vw;
  }
  .about-card {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .about-card img {
    width: 14vw;
    height: 14vw;
    top: -6vw;
  }
  .about-card .p-important,
  .about-card .h3-like,
  .about-card .p-unimportant {
    padding: 0.5vw 0;
  }
  .about-card .h3-like {
    font-size: 1.6vw;
  }
  .box-about-content {
    margin-top: -5vw;
  }
}
@media screen and (max-width: 800px) {
  nav {
    display: none;
  }
  nav > img {
    display: block;
    height: 1.8vw;
    width: 1.8vw;
    position: absolute;
    top: 4.5vw;
    right: 3vw;
  }
  .box-content {
    grid-column-start: 1;
  }
  .box-content .h2-like {
    margin-left: 6vw;
  }
  .box-content > img {
    display: block;
    height: 3.3vw;
    width: 3.3vw;
    position: absolute;
    top: 3.3vw;
    left: 6vw;
  }
  .h2-like {
    padding: 3vw 6vw;
    font-size: 3.3vw;
  }
  .h3-like {
    font-size: 3.3vw;
  }
  .p-important {
    font-size: 1.8vw;
  }
  .p-unimportant {
    font-size: 1.5vw;
  }
  .container {
    grid-template-columns: 3fr 9fr;
  }
  .main-navigation {
    padding: 6vw 3vw;
  }
  .list-navigation {
    font-size: 1.8vw;
    padding: 3vw;
    padding-left: 7.5vw;
  }
  .list-navigation::before {
    width: 1.8vw;
    height: 1.8vw;
    top: 3vw;
    left: 3vw;
  }
  .card {
    padding: 3vw;
  }
  .card .line {
    margin: 1.5vw 0;
  }
  .card .p-unimportant {
    padding-left: calc(1.5vw + 5px);
  }
  .card .p-unimportant::before {
    width: 1.5vw;
    height: 1.5vw;
  }
  .box-mini-card {
    grid-template-columns: 6vw 1fr 3vw 1fr 3vw 1fr 3vw 1fr 6vw;
    grid-template-rows: 7vw 1fr 7vw 1fr;
  }
  .mini-card:nth-child(1) {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .mini-card:nth-child(2) {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .mini-card:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .mini-card:nth-child(4) {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .box-mini-first {
    padding-bottom: 3vw;
  }
  .box-mini-img {
    width: 10.5vw;
    height: 10.5vw;
    padding: 1.5vw;
    top: -6vw;
  }
  .box-mini-last {
    margin-top: -7.5vw;
  }
  .box-medium-card {
    grid-template-columns: 6vw 1fr 3vw 1fr 3vw 1fr 6vw;
    grid-template-rows: 7vw 1fr;
  }
  .box-medium-img {
    height: 15vw;
    padding: 3vw;
    top: -6vw;
  }
  .box-medium-img .img-col {
    padding: 0 0.1875vw;
  }
  .box-medium-img .st-lg,
  .box-medium-img .st-md,
  .box-medium-img .st-sm,
  .box-medium-img .st-esm {
    margin: 0.375vw 0;
  }
  .box-medium-img .st-lg {
    height: 3vw;
  }
  .box-medium-img .st-md {
    height: 1.5vw;
  }
  .box-medium-img .st-sm {
    height: 1.05vw;
  }
  .box-medium-img .st-esm {
    height: 0.375vw;
  }
  .box-medium-content {
    margin-top: -4.5vw;
  }
  .box-large-card {
    grid-template-columns: 6vw 1fr 3vw 1fr 6vw;
    grid-template-rows: 7vw min-content 7vw min-content;
  }
  .large-card:nth-child(1) {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .large-card:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .large-card:last-of-type .box-large-img .p-important:first-of-type {
    font-size: 2.16vw;
    margin-bottom: 3vw;
  }
  .box-large-img {
    padding: 1.5vw;
    top: -6vw;
  }
  .box-large-img .p-important {
    margin-right: 3vw;
  }
  .box-large-img .list-navigation {
    margin-right: 3vw;
    padding: 1.5vw;
    padding-left: 6vw;
  }
  .box-large-img .list-navigation::before {
    width: 1.8vw;
    height: 1.8vw;
    top: 1.5vw;
    left: 1.5vw;
  }
  .box-large-content {
    margin-top: -3vw;
  }
  .box-large-content th,
  .box-large-content td {
    font-size: 1.8vw;
    padding: 1.5vw;
  }
  .one-checkbox {
    padding: 2.25vw;
  }
  .one-checkbox input,
  .one-checkbox label {
    font-size: 1.8vw;
  }
  .one-checkbox img {
    width: 2.52vw;
    height: 2.52vw;
  }
  footer {
    width: 100%;
    margin-top: 6vw;
    margin-left: 0;
    padding: 6vw;
  }
  footer ul li {
    padding-right: 3vw;
    font-size: 1.62vw;
  }
  .box-profile {
    grid-template-columns: 6vw 2.1fr 3vw 0.9fr 6vw;
    grid-template-rows: 7vw min-content 7vw min-content;
  }
  .input-card {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .input-card form {
    margin-top: -3vw;
  }
  .input-card form .str-form {
    padding: 1.5vw 0;
  }
  .input-card form .str-form:nth-child(2) .col-form {
    width: calc((100% / 2) - 3vw*0.5);
  }
  .input-card form .col-form {
    width: calc((100% / 3) - 3vw*0.5);
  }
  .input-card form .button-form input {
    font-size: 1.8vw;
  }
  .box-form-img {
    padding: 3vw;
    top: -6vw;
  }
  .box-form-img .p-important:first-of-type {
    font-size: 2.16vw;
    margin-bottom: 3vw;
  }
  .about-card {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .about-card img {
    width: 16.5vw;
    height: 16.5vw;
    top: -6vw;
  }
  .about-card .p-important,
  .about-card .h3-like,
  .about-card .p-unimportant {
    padding: 0.75vw 0;
  }
  .about-card .h3-like {
    font-size: 1.8vw;
  }
  .box-about-content {
    margin-top: -5.4vw;
  }
}
@media screen and (max-width: 650px) {
  nav {
    display: none;
  }
  nav > img {
    display: block;
    height: 2vw;
    width: 2vw;
    position: absolute;
    top: 5.2vw;
    right: 4vw;
  }
  .box-content {
    grid-column-start: 1;
  }
  .box-content .h2-like {
    margin-left: 8vw;
  }
  .box-content > img {
    display: block;
    height: 3.6vw;
    width: 3.6vw;
    position: absolute;
    top: 4vw;
    left: 8vw;
  }
  .h2-like {
    padding: 4vw 8vw;
    font-size: 3.6vw;
  }
  .h3-like {
    font-size: 3.6vw;
  }
  .p-important {
    font-size: 2vw;
  }
  .p-unimportant {
    font-size: 1.8vw;
  }
  .container {
    grid-template-columns: 3fr 9fr;
  }
  .main-navigation {
    padding: 8vw 4vw;
  }
  .list-navigation {
    font-size: 2vw;
    padding: 4vw;
    padding-left: 10vw;
  }
  .list-navigation::before {
    width: 2vw;
    height: 2vw;
    top: 4vw;
    left: 4vw;
  }
  .card {
    padding: 4vw;
  }
  .card .line {
    margin: 2vw 0;
  }
  .card .p-unimportant {
    padding-left: calc(1.8vw + 5px);
  }
  .card .p-unimportant::before {
    width: 1.8vw;
    height: 1.8vw;
  }
  .box-mini-card {
    grid-template-columns: 8vw 1fr 4vw 1fr 4vw 1fr 4vw 1fr 8vw;
    grid-template-rows: 9vw 1fr 9vw 1fr;
  }
  .mini-card:nth-child(1) {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .mini-card:nth-child(2) {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .mini-card:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .mini-card:nth-child(4) {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .box-mini-first {
    padding-bottom: 4vw;
  }
  .box-mini-img {
    width: 12vw;
    height: 12vw;
    padding: 2vw;
    top: -8vw;
  }
  .box-mini-last {
    margin-top: -10vw;
  }
  .box-medium-card {
    grid-template-columns: 8vw 1fr 4vw 1fr 4vw 1fr 8vw;
    grid-template-rows: 9vw 1fr 9vw 1fr 9vw 1fr;
  }
  .medium-card:nth-child(1) {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .medium-card:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .medium-card:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .box-medium-img {
    height: 40vw;
    padding: 4vw;
    top: -8vw;
  }
  .box-medium-img .img-col {
    padding: 0 0.5vw;
  }
  .box-medium-img .st-lg,
  .box-medium-img .st-md,
  .box-medium-img .st-sm,
  .box-medium-img .st-esm {
    margin: 1vw 0;
  }
  .box-medium-img .st-lg {
    height: 12vw;
  }
  .box-medium-img .st-md {
    height: 6vw;
  }
  .box-medium-img .st-sm {
    height: 4vw;
  }
  .box-medium-img .st-esm {
    height: 2vw;
  }
  .box-medium-content {
    margin-top: -6vw;
  }
  .box-large-card {
    grid-template-columns: 8vw 1fr 4vw 1fr 8vw;
    grid-template-rows: 9vw min-content 9vw min-content;
  }
  .large-card:nth-child(1) {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .large-card:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .large-card:last-of-type .box-large-img .p-important:first-of-type {
    font-size: 2.4vw;
    margin-bottom: 4vw;
  }
  .box-large-img {
    padding: 2vw;
    top: -8vw;
  }
  .box-large-img .p-important {
    margin-right: 4vw;
  }
  .box-large-img .list-navigation {
    margin-right: 4vw;
    padding: 2vw;
    padding-left: 8vw;
  }
  .box-large-img .list-navigation::before {
    width: 2vw;
    height: 2vw;
    top: 2vw;
    left: 2vw;
  }
  .box-large-content {
    margin-top: -4vw;
  }
  .box-large-content th,
  .box-large-content td {
    font-size: 2vw;
    padding: 2.4vw;
  }
  .one-checkbox {
    padding: 1vw;
  }
  .one-checkbox input,
  .one-checkbox label {
    font-size: 2vw;
  }
  .one-checkbox img {
    margin-left: 4vw;
    width: 3.6vw;
    height: 3.6vw;
  }
  footer {
    width: 100%;
    margin-top: 8vw;
    margin-left: 0;
    padding: 8vw;
  }
  footer ul li {
    padding-right: 4vw;
    font-size: 1.8vw;
  }
  .box-profile {
    grid-template-columns: 8vw 2.1fr 4vw 0.9fr 8vw;
    grid-template-rows: 9vw min-content 9vw min-content;
  }
  .input-card {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .input-card form {
    margin-top: -4vw;
  }
  .input-card form .str-form {
    padding: 2vw 0;
  }
  .input-card form .str-form:nth-child(2) .col-form {
    width: calc((100% / 2) - 4vw*0.5);
  }
  .input-card form .col-form {
    width: calc((100% / 3) - 4vw*0.5);
  }
  .input-card form .button-form input {
    font-size: 2vw;
  }
  .box-form-img {
    padding: 4vw;
    top: -8vw;
  }
  .box-form-img .p-important:first-of-type {
    font-size: 2.4vw;
    margin-bottom: 4vw;
  }
  .about-card {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .about-card img {
    width: 22vw;
    height: 22vw;
    top: -8vw;
  }
  .about-card .p-important,
  .about-card .h3-like,
  .about-card .p-unimportant {
    padding: 1vw 0;
  }
  .about-card .h3-like {
    font-size: 2vw;
  }
  .box-about-content {
    margin-top: -7.2vw;
  }
}
@media screen and (max-width: 500px) {
  nav {
    display: none;
  }
  nav > img {
    display: block;
    height: 2.8vw;
    width: 2.8vw;
    position: absolute;
    top: 6vw;
    right: 4vw;
  }
  .box-content {
    grid-column-start: 1;
  }
  .box-content .h2-like {
    margin-left: 8vw;
  }
  .box-content > img {
    display: block;
    height: 4.8vw;
    width: 4.8vw;
    position: absolute;
    top: 4vw;
    left: 8vw;
  }
  .h2-like {
    padding: 4vw 8vw;
    font-size: 4.8vw;
  }
  .h3-like {
    font-size: 4.8vw;
  }
  .p-important {
    font-size: 2.8vw;
  }
  .p-unimportant {
    font-size: 2.4vw;
  }
  .container {
    grid-template-columns: 3fr 9fr;
  }
  .main-navigation {
    padding: 8vw 4vw;
  }
  .list-navigation {
    font-size: 2.8vw;
    padding: 4vw;
    padding-left: 10vw;
  }
  .list-navigation::before {
    width: 2.8vw;
    height: 2.8vw;
    top: 4vw;
    left: 4vw;
  }
  .card {
    padding: 4vw;
  }
  .card .line {
    margin: 2vw 0;
  }
  .card .p-unimportant {
    padding-left: calc(2.4vw + 5px);
  }
  .card .p-unimportant::before {
    width: 2.4vw;
    height: 2.4vw;
  }
  .box-mini-card {
    grid-template-columns: 8vw 1fr 4vw 1fr 4vw 1fr 4vw 1fr 8vw;
    grid-template-rows: 9vw 1fr 9vw 1fr 9vw 1fr 9vw 1fr;
  }
  .mini-card:nth-child(1) {
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .mini-card:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .mini-card:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .mini-card:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 9;
  }
  .box-mini-first {
    padding-bottom: 4vw;
  }
  .box-mini-img {
    width: 16vw;
    height: 16vw;
    padding: 2vw;
    top: -8vw;
  }
  .box-mini-last {
    margin-top: -10vw;
  }
  .box-medium-card {
    grid-template-columns: 8vw 1fr 4vw 1fr 4vw 1fr 8vw;
    grid-template-rows: 9vw 1fr 9vw 1fr 9vw 1fr;
  }
  .medium-card:nth-child(1) {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .medium-card:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .medium-card:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .box-medium-img {
    height: 40vw;
    padding: 4vw;
    top: -8vw;
  }
  .box-medium-img .img-col {
    padding: 0 0.5vw;
  }
  .box-medium-img .st-lg,
  .box-medium-img .st-md,
  .box-medium-img .st-sm,
  .box-medium-img .st-esm {
    margin: 1vw 0;
  }
  .box-medium-img .st-lg {
    height: 12vw;
  }
  .box-medium-img .st-md {
    height: 6vw;
  }
  .box-medium-img .st-sm {
    height: 4vw;
  }
  .box-medium-img .st-esm {
    height: 2vw;
  }
  .box-medium-content {
    margin-top: -6vw;
  }
  .box-large-card {
    grid-template-columns: 8vw 1fr 4vw 1fr 8vw;
    grid-template-rows: 9vw min-content 9vw min-content;
  }
  .large-card:nth-child(1) {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .large-card:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .large-card:last-of-type .box-large-img .p-important:first-of-type {
    font-size: 3.36vw;
    margin-bottom: 4vw;
  }
  .box-large-img {
    padding: 2vw;
    top: -8vw;
  }
  .box-large-img .p-important {
    margin-right: 4vw;
  }
  .box-large-img .list-navigation {
    margin-right: 1vw;
    padding: 2vw;
    padding-left: 8vw;
  }
  .box-large-img .list-navigation::before {
    width: 2.8vw;
    height: 2.8vw;
    top: 2vw;
    left: 2vw;
  }
  .box-large-content {
    margin-top: -4vw;
  }
  .box-large-content th,
  .box-large-content td {
    font-size: 2.8vw;
    padding: 4vw;
  }
  .one-checkbox {
    padding: 2vw 4vw;
  }
  .one-checkbox input,
  .one-checkbox label {
    font-size: 2.8vw;
  }
  .one-checkbox img {
    margin-left: 4vw;
    width: 5.04vw;
    height: 5.04vw;
  }
  footer {
    width: 100%;
    margin-top: 8vw;
    margin-left: 0;
    padding: 8vw;
  }
  footer ul li {
    padding-right: 4vw;
    font-size: 2.52vw;
  }
  .box-profile {
    grid-template-columns: 8vw 2.1fr 4vw 0.9fr 8vw;
    grid-template-rows: 9vw min-content 9vw min-content;
  }
  .input-card {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .input-card form {
    margin-top: -4vw;
  }
  .input-card form .str-form {
    padding: 2vw 0;
  }
  .input-card form .str-form:nth-child(2) .col-form {
    width: calc((100% / 2) - 4vw*0.5);
  }
  .input-card form .col-form {
    width: calc((100% / 3) - 4vw*0.5);
  }
  .input-card form .button-form {
    width: 35%;
  }
  .input-card form .button-form input {
    font-size: 2.8vw;
  }
  .box-form-img {
    padding: 4vw;
    top: -8vw;
  }
  .box-form-img .p-important:first-of-type {
    font-size: 3.36vw;
    margin-bottom: 4vw;
  }
  .about-card {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .about-card img {
    width: 22vw;
    height: 22vw;
    top: -8vw;
  }
  .about-card .p-important,
  .about-card .h3-like,
  .about-card .p-unimportant {
    padding: 1vw 0;
  }
  .about-card .h3-like {
    font-size: 2.8vw;
  }
  .box-about-content {
    margin-top: -7.2vw;
  }
}
